site_name: Gestão Contábil
site_description: Documentação das automações feitas para Gestão Contábil

nav:
  - Início: index.md
  - Tabelas Dinâmicas: tabelas-dinamicas.md
  - Relatórios :
    - Contábil: relatorios.md
    - Fiscal: fiscal/fiscal.md

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg

theme:
  name: material

  pallete:
    - media: "(prefers-color-schema)"
      scheme: default

  font:
    text: Roboto
    code: Roboto Mono

  features:
    - content.code.annotate
    - content.tabs.link
    - header.autohide
    - navigation.expand
    - navigation.instant
    - navigation.tabs
    - navigation.top
    - navigation.tracking

extra_css:
  - stylesheets/style.css
